@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@500;600;700&family=Quicksand:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.os-beige');
  color: theme('colors.os-ink');
  /* Aquí aplicamos la fuente ultra redonda a todo el texto */
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fraunces', serif;
  color: theme('colors.os-dark');
}